################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/sapl-csharp/Minimal-Web-API-Demo/Minimal-Web-API-Demo - Backup.csproj
